.page__main {
  padding: 1em;
}

.content__block--description {
  text-align: center;
}

.content__block--status {
  text-align: center;
  margin-top: 4em;
  color: $danger-dark;
  border: 1px dotted $danger-dark;
  padding: 1em;
  border-radius: .5em;
}
