.page__footer {
  color: $text-diminished;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 1em;
}

.footer__block--social__desc {
  @include invisible;
}

.footer__block--legal {
  font-size: .6rem;
  text-align: center;
  margin: .5em 0;
}

@include gt(700px) {
  .page__footer {
    display: flex;
    align-items: center;
  }

  .footer__block {
    flex: 1;
    margin: 0 3em;
  }

  .footer__block--legal {
    text-align: right;
  }
}
