.page__header {
  padding: 1em;
  text-align: center;
  @include linear-gradient(top, $blue1, $blue2);
}

.page__logo {
  width: 10vw;
  max-width: 50px;
  vertical-align: middle;
}

.page__title {
  vertical-align: middle;
  display: inline-block;
  color: white;
  margin: .25em 0 .25em .5em;
}
