.social-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.social-links__item {
  list-style: none;
  padding: 0;
  flex: 1;
  text-align: center;
}

.social-links__item-link {
  display: inline-block;
  padding: .5em;
  outline: none;

  svg {
    width: 2rem;
    height: 2rem;

    path {
      transition: .2s fill ease-in-out;
      fill: $text-diminished;
    }
  }
}

.social-links__item-text {
  @include invisible;
}

@include focus(social-links__item-link--twitter) {
  svg path {fill: $twitter;}
}
@include focus(social-links__item-link--github) {
  svg path {fill: $github;}
}
@include focus(social-links__item-link--lullabot-com) {
  svg path {fill: $lullabot;}
}
@include focus(social-links__item-link--lanyrd) {
  svg path {fill: $lanyrd;}
}
@include focus(social-links__item-link--drupal-org) {
  svg path {fill: $drupal;}
}
