// Breakpoint for expanding screen sizes (mobile first).
@mixin gt($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Hide elements from vision but not screen readers.
@mixin invisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin focus($selector) {
  .#{$selector}:hover,
  .#{$selector}:focus {
    @content;
  }
}
