// Our variables
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Colors
$blue1: #2d4aa0;
$blue2: #345485;
$text-main: #444;
$text-diminished: #ccc;

$danger-dark: #b72834;
$danger-light: #ddb9c0;

$twitter: #00ACED;
$github: #0D2636;
$lanyrd: #3C80CA;
$lullabot: #E13526;
$drupal: #28A9E0;
