@charset "utf-8";

// Our variables
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

@import
  "vars",
  "bourbon/bourbon",
  "mixins",
  "normalize",
  "base",
  "syntax-highlighting",
  "styles"
;
